# http://developer.android.com/guide/developing/device.html
# adb/usb_vendors.c

# Acer
SUBSYSTEM=="usb", ATTR{idVendor}=="0502", TAG+="uaccess"

# Dell
SUBSYSTEM=="usb", ATTR{idVendor}=="413c", TAG+="uaccess"

# Foxconn
SUBSYSTEM=="usb", ATTR{idVendor}=="0489", TAG+="uaccess"

# Garmin-Asus
SUBSYSTEM=="usb", ATTR{idVendor}=="091E", TAG+="uaccess"

# Google
SUBSYSTEM=="usb", ATTR{idVendor}=="18d1", TAG+="uaccess"

# HTC
SUBSYSTEM=="usb", ATTR{idVendor}=="0bb4", TAG+="uaccess"

# Huawei
SUBSYSTEM=="usb", ATTR{idVendor}=="12d1", TAG+="uaccess"

# Kyocera
SUBSYSTEM=="usb", ATTR{idVendor}=="0482", TAG+="uaccess"

# LG
SUBSYSTEM=="usb", ATTR{idVendor}=="1004", TAG+="uaccess"

# Motorola
SUBSYSTEM=="usb", ATTR{idVendor}=="22b8", TAG+="uaccess"

# Nvidia
SUBSYSTEM=="usb", ATTR{idVendor}=="0955", TAG+="uaccess"

# Pantech
SUBSYSTEM=="usb", ATTR{idVendor}=="10A9", TAG+="uaccess"

# Samsung
SUBSYSTEM=="usb", ATTR{idVendor}=="04e8", TAG+="uaccess"

# Sharp
SUBSYSTEM=="usb", ATTR{idVendor}=="04dd", TAG+="uaccess"

# Sony Ericsson
SUBSYSTEM=="usb", ATTR{idVendor}=="0fce", TAG+="uaccess"

# ZTE
SUBSYSTEM=="usb", ATTR{idVendor}=="19d2", TAG+="uaccess"

# Qualcomm
SUBSYSTEM=="usb", ATTR{idVendor}=="05c6", TAG+="uaccess"

# On-The-Go-Video
SUBSYSTEM=="usb", ATTR{idVendor}=="2257", TAG+="uaccess"

# NEC
SUBSYSTEM=="usb", ATTR{idVendor}=="0409", TAG+="uaccess"

# Panasonic
SUBSYSTEM=="usb", ATTR{idVendor}=="04da", TAG+="uaccess"

# Toshiba
SUBSYSTEM=="usb", ATTR{idVendor}=="0930", TAG+="uaccess"

# SK Telesys
SUBSYSTEM=="usb", ATTR{idVendor}=="1f53", TAG+="uaccess"

# KT Tech
SUBSYSTEM=="usb", ATTR{idVendor}=="2116", TAG+="uaccess"

# ASUS
SUBSYSTEM=="usb", ATTR{idVendor}=="0b05", TAG+="uaccess"

# Philips
SUBSYSTEM=="usb", ATTR{idVendor}=="0471", TAG+="uaccess"

# Texas Instruments
SUBSYSTEM=="usb", ATTR{idVendor}=="0451", TAG+="uaccess"

# Funai
SUBSYSTEM=="usb", ATTR{idVendor}=="0f1c", TAG+="uaccess"

# Gigabyte
SUBSYSTEM=="usb", ATTR{idVendor}=="0414", TAG+="uaccess"

# IRiver
SUBSYSTEM=="usb", ATTR{idVendor}=="2420", TAG+="uaccess"

# Compal
SUBSYSTEM=="usb", ATTR{idVendor}=="1219", TAG+="uaccess"

# T & A Mobile Phones
SUBSYSTEM=="usb", ATTR{idVendor}=="1bbb", TAG+="uaccess"

# LenovoMobile
SUBSYSTEM=="usb", ATTR{idVendor}=="2006", TAG+="uaccess"

# Lenovo
SUBSYSTEM=="usb", ATTR{idVendor}=="17ef", TAG+="uaccess"

# Vizio
SUBSYSTEM=="usb", ATTR{idVendor}=="e040", TAG+="uaccess"

# K-Touch
SUBSYSTEM=="usb", ATTR{idVendor}=="24e3", TAG+="uaccess"

# Pegatron
SUBSYSTEM=="usb", ATTR{idVendor}=="1d4d", TAG+="uaccess"

# Archos
SUBSYSTEM=="usb", ATTR{idVendor}=="0e79", TAG+="uaccess"

# Positivo
SUBSYSTEM=="usb", ATTR{idVendor}=="1662", TAG+="uaccess"

# Intel
SUBSYSTEM=="usb", ATTR{idVendor}=="8087", TAG+="uaccess"

# Quanta
SUBSYSTEM=="usb", ATTR{idVendor}=="0408", TAG+="uaccess"

# INQ Mobile
SUBSYSTEM=="usb", ATTR{idVendor}=="2314", TAG+="uaccess"

# Sony
SUBSYSTEM=="usb", ATTR{idVendor}=="054c", TAG+="uaccess"

# Lab126
SUBSYSTEM=="usb", ATTR{idVendor}=="1949", TAG+="uaccess"

